### Question3

### Housing
Step 1. Import the necessary libraries

Step 2. Create 3 differents Series, each of length 100, as follows:

• The first a random number from 1 to 4

• The second a random number from 1 to 3

• The third a random number from 10,000 to 30,000

Step 3. Create a DataFrame by joinning the Series by column

Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

Step 5. Create a one column DataFrame with the values of the 3 Series and assign it
to 'bigcolumn'

Step 6. Ops it seems it is going only until index 99. Is it true?

Step 7. Reindex the DataFrame so it goes from 0 to 299

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
rand1_4 = pd.Series(np.random.randint(1,5,100))
rand1_3 = pd.Series(np.random.randint(1,4,100))
rand10_30k = pd.Series(np.random.randint(10000,30000,100))

In [3]:
dataframe = pd.concat([rand1_4,rand1_3,rand10_30k],axis=1)
dataframe.head()

   0  1      2
0  3  2  26500
1  3  2  10238
2  2  2  15498
3  1  2  11739
4  1  1  28846

In [4]:
dataframe.columns = ['bedrs','bathrs','price_sqr_meter']
dataframe.head()

   bedrs  bathrs  price_sqr_meter
0      3       2            26500
1      3       2            10238
2      2       2            15498
3      1       2            11739
4      1       1            28846

In [5]:
bigcolumn = pd.concat([rand1_4,rand1_3,rand10_30k],axis=0)
bigcolumn

0         3
1         3
2         2
3         1
4         1
      ...
95    27723
96    18599
97    16816
98    14288
99    29751
Length: 300, dtype: int32

In [6]:
bc_len = len(bigcolumn)
if bc_len > 99:
    print('false. Index more than 99')
else:
    print('true. Index less then 99')

false. Index more than 99

In [7]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          3
1          3
2          2
3          1
4          1
       ...
295    27723
296    18599
297    16816
298    14288
299    29751
Length: 300, dtype: int32